# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Dropbox\Andreas\PLUGG_JOBB\VT2020\Kodövning\AdventOfCode\2020\Python\Day1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
